<html>
<head>
    <script>
        function showHint(str) {
            if (str.length == 0){
                document.getElementById("txtHint").innerHTML = this.responseText;
                return ;
            }
        else
        {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("txtHint").innerHTML = this.responseText;
                }
            };
            xmlhttp.open("GET", "{{ path('hint') }}?q=" + str, true);
            xmlhttp.send();
        }
        }
    </script>
</head>

<body>
<p>
    <b>
        Start Typing any alphabet.
    </b>
</p>

<form>
    First Name : <input type="text" onkeyup="showHint(this.value)">
</form>

<p>
    Suggestion :
    <span id="txtHint">
    </span>
</p>
</body>
</html>